## 3. Функции и работа с данными

### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class.

## 3. Functions and working with data

### Task 1
Write a function that classifies films from the lesson materials according to the following rules:

- score 2 and less - low rating
- score 4 and less - average rating
- score 4.5 and 5 - high rating

Write the classification result in the 'class' column.

In [ ]:
import pandas as pd

In [6]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

df = movies.merge(ratings, on = 'movieId', how = 'left')
df_groupby_object = df.groupby(['title'])
films_classification = df_groupby_object.rating.mean().reset_index()

def rating_classification(row):
    
    if row['rating'] <= 2:
        return 'Low'
    elif row['rating'] <= 4:
        return 'Average'
    else:
        return 'High'

films_classification['class'] = films_classification.apply(rating_classification, axis = 1)

films_classification.head(10)

                                     title    rating    class
0         "Great Performances" Cats (1998)  1.750000      Low
1                             $9.99 (2008)  3.833333  Average
2  'Hellboy': The Seeds of Creation (2004)  2.000000      Low
3          'Neath the Arizona Skies (1934)  0.500000      Low
4                   'Round Midnight (1986)  2.250000  Average
5                      'Salem's Lot (2004)  3.500000  Average
6                'Til There Was You (1997)  2.625000  Average
7                       'burbs, The (1989)  3.052632  Average
8                     'night Mother (1986)  5.000000     High
9              (500) Days of Summer (2009)  3.755556  Average

### Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

Результат классификации запишите в отдельный столбец region.

### Task 2

We use the keywords.csv file.

It is necessary to write a geo-classifier that will be able to set the geographical affiliation of a certain region to each row. I.e., if the search query contains the name of the city of the region, then the name of this region is written in the ‘region’ column. If the search query does not contain the name of the city, then put ‘undefined'.

Rules of distribution by region Center, North-West and Far East:

Write the classification result in a separate column region.

In [9]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

df = pd.read_csv('keywords.csv')

def regions(row):
    for region, cities in geo_data.items():
        for city in cities:
            if city in row['keyword']:
                return region
    return 'undefined'

df['region'] = df.apply(regions, axis=1)

show = df[df['region'] != 'undefined']
print(show[0:10])

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток
1236       банк санкт петербург  174375    Северо-Запад
1259                     москва  153050           Центр
1346            санкт петербург  144232    Северо-Запад
1396            гисметео москва  140279           Центр
1482           госуслуги москва  133061           Центр

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

### Task 3 (bonus)

There is an opinion that “they used to make a real movie, not like now.” Your task is to verify this statement using files with movie ratings from the last home lesson (the movies.csv and ratings.csv file from the grouplens.org.../movielens database). That is, to check whether it is true that with the growth of the year of release of the film, its average rating becomes lower.

At the same time, we will not touch on the subjective factors of setting these ratings, but will go through the following algorithm:

In the years variable, write a list of all the years from 1950 to 2010.

Write the production_year function, which sets the year of release for each line of the movie title. Not all movie titles contain the year of release in the same format, so use the following algorithm:

for each row, go through all the years in the years list
. if the year number is present in the movie title, the function returns this year as the year of release.
if none of the year numbers of the years list is found in the title of the film, then the year 1900 is returned.
Write down the year of release of the film according to the algorithm of paragraph 2 in the new column ‘year’

Calculate the average rating of all films for each value of the ‘year’ column and sort the result in descending order of rating

In [12]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

df = ratings.merge(movies, on = 'movieId')
years = list(range(1950, 2011))

def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

df['year'] = df['title'].apply(production_year)

ratings_years = df[['rating', 'year']].groupby(by = 'year').mean().sort_values('rating', ascending=False)
ratings_years.head(10)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492

![](Pandas_logo.png)